# Student Loan Risk with Deep Learning

In [3]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [4]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [5]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [6]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [23]:
# Define the target set y using the credit_ranking column

y = loans_df["credit_ranking"]

# Display a sample of y
print(y)

0       0
1       0
2       0
3       1
4       0
       ..
1594    0
1595    1
1596    1
1597    0
1598    1
Name: credit_ranking, Length: 1599, dtype: int64

In [24]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
print(X)

      payment_history  location_parameter  stem_degree_score  gpa_ranking  \
0                 7.4               0.700               0.00          1.9
1                 7.8               0.880               0.00          2.6
2                 7.8               0.760               0.04          2.3
3                11.2               0.280               0.56          1.9
4                 7.4               0.700               0.00          1.9
...               ...                 ...                ...          ...
1594              6.2               0.600               0.08          2.0
1595              5.9               0.550               0.10          2.2
1596              6.3               0.510               0.13          2.3
1597              5.9               0.645               0.12          2.0
1598              6.0               0.310               0.47          3.6

      alumni_success  study_major_code  time_to_completion  \
0              0.076              11.0                34.0
1              0.098              25.0                67.0
2              0.092              15.0                54.0
3              0.075              17.0                60.0
4              0.076              11.0                34.0
...              ...               ...                 ...
1594           0.090              32.0                44.0
1595           0.062              39.0                51.0
1596           0.076              29.0                40.0
1597           0.075              32.0                44.0
1598           0.067              18.0                42.0

      finance_workshop_score  cohort_ranking  total_loan_score  \
0                    0.99780            3.51              0.56
1                    0.99680            3.20              0.68
2                    0.99700            3.26              0.65
3                    0.99800            3.16              0.58
4                    0.99780            3.51              0.56
...                      ...             ...               ...
1594                 0.99490            3.45              0.58
1595                 0.99512            3.52              0.76
1596                 0.99574            3.42              0.75
1597                 0.99547            3.57              0.71
1598                 0.99549            3.39              0.66

      financial_aid_score
0                     9.4
1                     9.8
2                     9.8
3                     9.8
4                     9.4
...                   ...
1594                 10.5
1595                 11.2
1596                 11.0
1597                 10.2
1598                 11.0

[1599 rows x 11 columns]

### Step 3: Split the features and target sets into training and testing datasets.

In [25]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [26]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [11]:
# Define the the number of inputs (features) to the model


# Review the number of features

In [12]:
# Define the number of hidden nodes for the first hidden layer


# Define the number of hidden nodes for the second hidden layer


# Define the number of neurons in the output layer

In [13]:
# Create the Sequential model instance


# Add the first hidden layer


# Add the second hidden layer


# Add the output layer to the model specifying the number of output neurons and activation function

In [14]:
# Display the Sequential model summary

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [15]:
# Compile the Sequential model

In [16]:
# Fit the model using 50 epochs and the training data

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [17]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data


# Display the model loss and accuracy results

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [18]:
# Set the model's file path


# Export your model to a keras file

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [19]:
# Set the model's file path


# Load the model to a new object

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [20]:
# Make predictions with the test data


# Display a sample of the predictions

In [21]:
# Save the predictions to a DataFrame and round the predictions to binary results

### Step 4: Display a classification report with the y test data and predictions

In [22]:
# Print the classification report with the y test data and predictions

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**